.image-wrapper {
  display: flex;
  justify-content: center;
}

.homepage-img {
  max-width: 30em;
  box-shadow: 6px 6px 16px 1px #000000, -6px -6px 64px 1px #FFFFFF;
}


.container {
  margin-top: 0em;
  margin-bottom: 0em;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .homepage-img {
    max-width: 25em;
  }
}

@media only screen and (max-width: 415px) {
  .homepage-img {
    max-width: 20em;
  }
}

@media only screen and (max-width: 340px) {
  .homepage-img {
    max-width: 15em;
  }
}

.thumbnail-homepage-img {
  max-width: 10em;
  box-shadow: 6px 6px 16px 1px #000000, -6px -6px 64px 1px #FFFFFF;
}


.img-content { 
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.up-vote-btn {
  width: 3em;
  height: 3em;
  border-radius: 20px 20px 20px 20px !important;
  background-color: transparent;
}

.down-vote-btn {
  width: 3em;
  height: 3em;
  border-radius: 20px 20px 20px 20px !important;
  margin-top: 1em;
  background-color: transparent;
}

.license-link {
  margin-bottom: 5em;
  margin-top: 0em;
}

.votes {
  font-size: 24px;
  margin-top: 0em;
  display: flex;
  justify-content: center;
}